# Service
SERVICE_NAME=caching_svc
LOG_LEVEL=INFO

# Website app
APPLICATIONS__WEBSITE__PORT=8000
APPLICATIONS__WEBSITE__RELOAD=True

# Database (see docker-compose `postgres` service)
DATABASE__URL=postgresql+asyncpg://caching_user:caching_password@localhost:5441/caching_db

# Simulated external transformer
TRANSFORMER__DELAY_SECONDS=0.5
TRANSFORMER__MAX_CONCURRENCY=10
